<!DOCTYPE html>
<html>
  <head>
    <title>JOEs Careers</title>
    
     
  </head>
<body>
  
  <h1>JOE´s Careers</h1>
  <img id="banner"src= "https://787285e7-3e2e-4637-ad40-e41b5be5fa07-00-28g5hnav2vi3v.picard.replit.dev/static/DSC02402%20Kopie.JPG" width ="200" heigth="400">
  <h2>About JOE´s</h2> 
  <p>
    Lorem ipsum dolor sit amet. Sit Quis voluptatem sit commodi rerum ad esse rerum. Et galisum fuga vel consequuntur corporis qui itaque exercitationem qui error quis. Aut asperiores modi ut facere sequi non praesentium eaque ut fugiat nemo qui suscipit repudiandae id nostrum beatae! Eum aperiam ipsam et natus voluptates cum galisum quis. 
  </p>
  <h2>Open Positions</h2>
  <div>
    {% for job in jobs %}
    <div>{{job['title']}}</div>
    {% endfor %}
  </div>
   
  <button>Contact Us</button>  
   
   
  </body>





  
</html>